@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
@import "./darkMode.scss";

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #171727 20px, transparent 1%) 50%,
    linear-gradient(#171727 20px, transparent 1%) 50%, #1f1f38 !important;
  background-size: 22px 22px !important;
  background-attachment: fixed !important;
}

code,
h1,
h2,
h3,
h4,
button {
  /*font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
}

button:focus {
  outline: 5px auto rgba(0, 150, 255, 1);
}

.App {
  // border-top: 10px solid #403a73;
  border-top: 10px solid #c371a3;
}
